# Auto detect text files and normalize line endings to LF
* text=auto

# Python
*.py text eol=lf
*.pyw text eol=lf
*.pyc binary
*.pyo binary
*.pyd binary

# Jupyter Notebook
*.ipynb text eol=lf merge=union

# CSV
*.csv text eol=lf

# Text files
*.txt text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.toml text eol=lf

# Binarios
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.otf binary

# Shell
*.sh text eol=lf
*.bash text eol=lf

# Windows specific
*.bat text eol=crlf
*.cmd text eol=crlf
*.exe binary
*.dll binary
